/* Importando a fonte pixelada do Google */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body {
    font-family: 'DotGothic16', sans-serif;
    
    /* Configurações do seu fundo de zebra */
    background-image: url('pink_.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;      
    background-position: center; 
    background-attachment: fixed; /* Faz o fundo ficar parado enquanto a telinha rola */
    background-color: #ffd1dc;
    
    color: #640d31; /* Cor do texto geral */
    
    cursor: url('https://cdn.cursors-4u.net/css-previews/shiny-magenta-spinning-heart-a44fb078-css.webp') 0 0, auto !important;



}

/*tela central*/
.container {
    width: 700px;
    margin: 40px auto; /*só pra deixar no centro*/
    background-color: rgba(0, 0, 0, 0.85); 
    border: 3px dashed #ff42a1; 
    border-radius: 15px; 
    padding: 20px; /*pro texto não colar na borda */
}


h1 {
    color: #ff1493;
    text-align: center;
    text-shadow: 2px 2px #ffd1dc; 
}

/*das caixinhas internas*/
.perfil-box, .conteudo-box {
    border: 2px solid #ff4190;
    background-color: #ffacd6;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
}


.foto-perfil {
    float: left; 
    margin-right: 15px;
    border-radius: 10px; 
    border: 2px solid #000000;
}



/* Estilo para a fita de texto rolando no topo */
marquee {
    background-color: #000000;
    color: rgb(255, 110, 199);
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px; 
}


mark {
    background-color: hsl(0, 0%, 0%); 
    color: hsl(338, 100%, 76%); 
    border-radius: 3px; 
    padding: 2px 5px; 
}

/* Estilo da linha(<hr>) */
hr {
    border: 0;
    border-top: 2px dashed #ffb6c1; /* Linha tracejada para combinar com a estética */
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Caixa para os botões futuros */
.botoes {
    text-align: center;
    margin-top: 20px;
}