@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body {
    font-family: 'DotGothic16', sans-serif;
    background-image: url('pink_.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #ffd1dc;
    color: #640d31;
    cursor: url('https://cdn.cursors-4u.net/css-previews/shiny-magenta-spinning-heart-a44fb078-css.webp') 0 0, auto !important;
}

.container {
    max-width: 850px;
    width: 95%;
    margin: 40px auto;
    background-color: rgba(0, 0, 0, 0.85);
    border: 3px dashed #ff42a1;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    color: #ff1493;
    text-align: center;
    text-shadow: 2px 2px #ffd1dc;
    margin: 0;
}

.box-interna {
    border: 2px solid #ff4190;
    background-color: #ffacd6;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box; /* impede padding de estourar a largura */
}

.layout-colunas {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.perfil-box {
    width: 35%;
    margin-bottom: 0;
}

.conteudo-box {
    width: 65%;
    margin-bottom: 0;
}

.foto-perfil {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #000000;
    box-sizing: border-box;
}

marquee {
    background-color: #000000;
    color: rgb(255, 110, 199);
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
}

mark {
    background-color: hsl(0, 0%, 0%);
    color: hsl(338, 100%, 76%);
    border-radius: 3px;
    padding: 2px 5px;
}

hr {
    border: 0;
    border-top: 2px dashed #ffb6c1;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* @media — regras aplicadas SÓ em telas até 600px */
@media (max-width: 600px) {

    .layout-colunas {
        flex-direction: column;
    }

    .perfil-box,
    .conteudo-box {
        width: 100%;
        min-width: 0; /*impede o vazamento pelo flexbox */
        margin-bottom: 20px;
        box-sizing: border-box; /* padding não estoura a caixinha */
    }

    .foto-perfil {
        width: 60%;
        display: block;
        margin: 0 auto 10px;
    }

    marquee {
        font-size: 14px;
    }
}